@keyframes octocat-wave
  0%
    transform rotate(0deg)
  20%
    transform rotate(-25deg)
  40%
    transform rotate(10deg)
  60%
    transform rotate(-25deg)
  80%
    transform rotate(10deg)
  100%
    transform rotate(0deg)

.header
  position relative
  display flex
  align-items center
  background orange
  padding 50px

.containLeft
  flex 0

.containRight
  flex 1

.logo
  display block
  width 120px
  margin-right 20px
  opacity .75

.heading
.intro
  margin 0
  color rgba(0,0,0,.75)

.heading
  margin-bottom 20px

.intro
  max-width 650px

.fork
  z-index 1
  position absolute
  top 0
  right 0

.githubCorner
  :global(.corner-bg)
    fill rgba(black, .75)
  :global(.octo-arm)
    transform-origin 130px 106px
  &:hover
    :global(.corner-bg)
      fill black
    :global(.octo-arm)
      animation octocat-wave 560ms ease-in-out
