.header
  position relative
  display flex
  align-items center
  background orange
  padding 50px

.contain-left
  flex 0

.contain-right
  flex 1

.logo
  display block
  width 120px
  margin-right 20px
  opacity .75

.heading
.intro
  margin 0
  color rgba(0,0,0,.75)

.heading
  margin-bottom 20px

.intro
  max-width 650px

.fork
  z-index 1
  position absolute
  top 0
  right 0
