.section
  background #EEE
  padding 50px

.container
  width 800px
  min-height 200px
  background #FFF
  border 5px solid #CCC
  padding 50px
  overflow hidden

  table
    width 100%
    border-collapse collapse
    
  tr:nth-child(even)
    background #EEE
  tr:nth-child(odd)
    background #DDD

  td
    border none
    padding 10px